<div class="container">
    <div class="row align-items-center" style="text-align: center;">
        <div class="col-md-4 ">
            <i style='font-size:100px' class='fas'>&#xf3c5;</i>
            <h2 class="mt-4" style="font-weight: bold;">ADDRESS</h2>
            <p class="mt-3" style="font-weight: bold; font-size: 28px;">
                Industrial Division Office
            </p>
            <p class="mt-3" style="font-size: 28px;">
                1270 Automation Drive #500
                Windsor, CO 80550
            </p>
        </div>
        <div class="col-md-4">
            <i style='font-size:100px' class='fas'>&#xf095;</i>
            <h2 class="mt-4" style="font-weight: bold;">PHONE</h2>
            <p class="mt-3" style="font-weight: bold; font-size: 28px;">
                Weifield Group Contracting
            </p>
            <p class="mt-3" style="font-size: 28px;">
                303.428.2011 phone
                303.202.0466 facsimile
            </p>
        </div>
        <div class="col-md-4">
            <i style='font-size:100px' class='fas'>&#xf124;</i>
            <h2 class="mt-4" style="font-weight: bold;">EMAIL</h2>
            <p class="mt-3" style="font-weight: bold; font-size: 28px;">
                Employment Opportunities
            </p>
            <p style=" font-size: 28px;">
                careers@weifieldcontracting.com
            </p>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-4 social">
                <i class="fab" style="font-size:50px"> &#xf099; </i>
                <p class="social-title">@mrcodercompany</p>
            </div>
            <div class="col-md-4 social">
                <i class="fab" style="font-size:50px"> &#xf16d; </i>
                <p class="social-title">@mrcodercompany</p>
            </div>
            <div class="col-md-4 social">
                <i class="fab" style="font-size:50px"> &#xf09a; </i>
                <p class="social-title">@mrcodercompany</p>
            </div>
        </div>
    </div>
</div>
