<div class="container">
    <div class="col-md-8 position-absolute top-50">
        <div class="row">
            <div class="col-12">
                <h3>
                    Welcome to Mr. Coder Company !
                    To see all the products you should create an acoount. 
                    If you have already then <a [routerLink]="['/login']">log in</a>  !
                </h3>
            </div>
            <div class="col-6 mt-3">
                <h2>
                    Learn More 
                </h2>
                <button type="button" class="btn btn-secondary btn-lg" (click)="redirect()">Register Now</button>
            </div>
        </div>
    </div>
</div>


