<div class="container-fluid"><!--mt-6 p-2-->
    <div class="row wrapper">
      
        <div class="col-md-4 mt-6">
        <div class="row ms-5 p-2">
          <h2>ABOUT US</h2>
          <p>Mr Coder Company .........................................</p>
        </div>
        <div class="row ms-5 mt-3">
          <button class="btn-info" (click)="redirectUrl()">Get In Touch</button>
        </div>
        </div>
      
      
        <!-- <div class="col-md-4 mt-6 title">
            <div class="row mt-5">
              <h2>ABOUT US</h2>
              <p>Mr Coder Company .........................................</p>
            </div>
            <div class="row mt-5">
              <button class="btn-info">Get In Touch</button>
            </div>
        </div> -->
        <!-- <div class="col-md-8 p-2 mt-5 carousel">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../assets/images/steel.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/images/wood.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/images/solarpanels.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
          </div>
        </div> -->
    </div>
</div>
<!-- <div class="container">
  <div class="row row-centered pos">
      <div class="col-lg-8 col-xs-12 ">
          <div class="well">selam</div>
      </div>
      <div class="col-lg-8 col-xs-12 col-centered">
          <div class="well">naber</div>
      </div>
      <div class="col-lg-8 col-xs-12 col-centered">
          <div class="well">iiii</div>
      </div>
  </div>
</div> -->