<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="info-box mb-5">
                <div class="user-title ms-5">
                    <label>Welcome User</label>
                </div>
                <div class="date ms-5">
                    <label>Today: {{date()}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-12 box">
            <div class="row">
                <div class="col-md-3 box-card mt-2">
                    <section>
                        <div class="mt-5 ms-4">
                            <label >My Profile</label>
                            <label class="float-end me-5"><i class='fas fas-profile'>&#xf2bd;</i></label>
                        </div>
                        <div class="mt-3 ms-4">
                            <ul class="user-list" style="list-style-type: none;">
                                <li>Name: User</li>
                                <li>Lastname: UserLastname</li>
                                <li>Created at 1.1.2022</li>
                                <li>Email: test@test.com</li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-md-3 box-card mt-2" (click)="redirectUrl('/basket')">
                    <section>
                        <div class="mt-5 ms-4">
                            <label >Basket</label>
                            
                        </div>
                        <div class="ms-4 mt-5">
                            <label><i class='fas fas-basket'>&#xf07a;</i></label>
                            <span class="float-end me-3"><label class="basket-qty">Items: {{quentity}}</label></span>
                        </div>
                    </section>
                </div>
                <div class="col-md-3 box-card mt-2" (click)="redirectUrl('/orders')">
                    <section>
                        <div class="mt-5 ms-4">
                            <label>Orders</label>
                        </div>
                        <div class="ms-4 mt-5">
                            <label><i class='fas fas-order'>&#xf02c;</i></label>
                            <span class="float-end me-3"><label class="order-qty">134</label></span>
                        </div>
                    </section>
                </div>
                <div class="col-md-3 box-card mt-2" (click)="redirectUrl('/profile')">
                    <section>
                        <div class="mt-5 ms-4">
                            <label>Settings</label>
                            <label class="float-end me-5"><i class='fas fas-settings'>&#xf085;</i></label>
                        </div>
                        <div class="ms-4 mt-4">
                            <ul class="setting-list" style="list-style-type: none;">
                                <li>
                                    Account Settings
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>