<!-- <header>
  <div class="nav">
    
    <ul>
      <div class="logo">MR CODER</div>
      <li class="home"><a href="#">Home</a></li>
      <li class="tutorials"><a class="active" href="#">Products</a></li>
      <li class="about"><a href="#">About</a></li>
      <li class="news"><a href="#">Newsletter</a></li>
      <li class="contact"><a href="#">Contact</a></li>
    </ul>
  </div>
</header> -->
<!-- <nav>

    <div class="logo">Mr Coder Company</div>
    <ul>
      <li class="home"><a href="#">Home</a></li>
      <li class="tutorials"><a class="active" href="#">Products</a></li>
      <li class="about"><a href="#">About</a></li>
      <li class="contact"><a href="#">Contact</a></li>
    </ul>

</nav> -->

<!-- <nav>
      <div class="logo">Company</div>
      <ul>
        <li class="home"><a href="#">Home</a></li>
        <li class="tutorials"><a class="active" href="#">Products</a></li>
        <li class="about"><a href="#">About</a></li>
        <li class="news"><a href="#">Newsletter</a></li>
        <li class="contact"><a href="#">Contact</a></li>
      </ul>

</nav> -->
    
<div class="fixed-top">
  <nav class="navbar">
  <!-- LOGO -->
  <div class="logo">CCG Batiments</div>
  <!-- SEARCH BUTTON -->
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search...">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button">
          <!-- BUTTON ICON -->
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
 
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <!-- NAVIGATION MENUS -->
    <div class="menu mt-3">
      <li class="active"><a  [routerLink]="" (click)="redirect('/home')" style="font-weight: bold;">Home</a></li>
      <li><a [routerLink]="" (click)="redirect('/about')">About</a></li>
      <li *ngIf="enable===false"><a [routerLink]="" (click)="redirect('/login')">Log In</a></li>
      <li class="services" *ngIf="enable===true">
        <a [routerLink]="">Options</a>
        <!-- DROPDOWN MENU -->
        <ul class="dropdown">
          <li><a [routerLink]="" (click)="redirect('/dashboard')">Profile<i style='font-size:24px' class='fas ms-2'>&#xf2bd;</i></a></li>
          <li><a [routerLink]="" (click)="redirect('/profile')">Settings <i style='font-size:24px' class='fas'>&#xf013;</i></a></li>
          <li><a [routerLink]="" (click)="redirect('/orders')">Orders <i style='font-size:24px' class='fas'>&#xf02c;</i></a></li>
          <li><a [routerLink]="" (click)="redirect('/basket')">Basket <i style='font-size:24px' class='fas'>&#xf07a;</i></a></li>
          <hr>
          <li><a [routerLink]="" (click)="logout()" >Logout <i style='font-size:24px' class='fas'>&#xf2f5;</i></a></li>
        </ul>
      </li>
      <li class="products">
        <a [routerLink]="['/products']">Products</a>
        <!-- DROPDOWN MENU -->
        <!-- <ul class="dropdown">
          <li><a href="/">Cement </a></li>
          <li><a href="/">Pipe</a></li>
          <li><a href="/">Electric</a></li>
          <li><a href="/">Solar Panels</a></li>
          <li><a href="/">Wood</a></li>
        </ul>
      </li> -->
      <li><a [routerLink]="" (click)="redirect('/contact')">Contact</a></li>
      <!-- <li><a href="/">Logout</a></li> -->
    </div>
  </ul>
</nav>
</div>
<!-- <div class="container">
  <div class="col-md-8 position-absolute top-50">
      <div class="row">
          <div class="col-12">
              <h3>
                  Welcome to Mr. Coder Company !
                  To see all the products you should create an acoount. 
                  If you have already then <a id="login" [routerLink]="['/login']">log in</a>  !
              </h3>
          </div>
          <div class="col-6 mt-3">
              <h2>
                  Learn More 
              </h2>
              <button type="button" class="btn btn-secondary btn-lg" (click)="redirect('/register')">Register Now</button>
          </div>
      </div>
  </div>
  
</div> -->
<router-outlet></router-outlet>
