<div class="container-fluid mt-6">
    <div class="row justify-content-center wrapper mt-6">
        <div class="col-md-10">
            <section class="box p-4">
                <div class="orders">
                    <div class="row pb-5" style="border-bottom: 0.5px solid rgb(177, 177, 177); background-color: rgb(180, 180, 180);">
                        <div class="col-md-8 title align-self-center mt-5">
                            <h2 class="ms-5" style="color: #444;">Order History</h2>
                        </div>
                        <div class="col-md-4 mt-5">
                            <form class="form-inline">
                                <label style="font-size: 22px;">Sort: </label>
                                <select class="form-select ms-3"  name="first" [(ngModel)]="defaultOption" (ngModelChange)="onChangeofOptions($event)">
                                    <option selected>Not Selected</option>
                                    <option value="last-month">Last Month</option>
                                    <option value="ascending">Date Ascending</option>
                                    <option value="descending">Date Descending</option>
                                    <option value="in-transit">In Transit</option>
                                </select>
                            </form> 
                        </div>
                        <!-- <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker> -->
                        <!-- <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-4 mt-5">
                                    <form class="form-inline">
                                        <label style="font-size: 22px;">Sort: </label>
                                        <select class="form-select ms-3" aria-label="Default select example">
                                            <option selected>Not Selected</option>
                                            <option value="cement">Last Month</option>
                                            <option value="wood">Date Ascending</option>
                                            <option value="solar_panel">Date Descending</option>
                                        </select>
                                    </form> 
                                </div>
                                <div class="col-md-8 ">
                                    <div class="row">
                                        <div class="col-sm-6 mt-5">
                                            
                                            <form class="form-inline">
                                                <label for="datePicker" style="font-size: 22px;">Start Date: </label>
                                                <div class="form-group ms-3">
                                                    <div class="input-group">
                                                        <input class="form-control" style="font-size: 18px; max-width: 140px;" placeholder="yyyy-mm-dd"
                                                        name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                                                <i class="fa" style="font-size:18px"> &#xf073; </i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-sm-6 mt-5">
                                            <form class="form-inline">
                                                <label for="datePicker" style="font-size: 22px;">End Date: </label>
                                                <div class="form-group ms-3">
                                                    <div class="input-group">
                                                        <input class="form-control" style="font-size: 18px; max-width: 140px;" placeholder="yyyy-mm-dd"
                                                        name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                                                <i class="fa" style="font-size:18px"> &#xf073; </i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    
                    <div class="row p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <h3>Orders</h3>
                                <label>{{itemLength}} orders</label>
                            </div>
                            <div class="col-md-9">
                                <div class="row  justify-content-end">
                                    <div class="col-md-4">
                                        <form class="form-inline">
                                            <label class="me-3" for="datePicker" style="font-size: 22px;">Start Date: </label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" style="font-size: 18px; max-width: 140px;" placeholder="yyyy-mm-dd"
                                                    name="dps" [(ngModel)]="model_1" ngbDatepicker #ds="ngbDatepicker">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary calendar" (click)="ds.toggle()" type="button">
                                                            <i class="fa" style="font-size:18px"> &#xf073; </i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                        <form class="form-inline">
                                            <label class="me-3" for="datePicker" style="font-size: 22px;">End Date: </label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" style="font-size: 18px; max-width: 140px;" placeholder="yyyy-mm-dd"
                                                    name="dpe" [(ngModel)]="model_2" ngbDatepicker #de="ngbDatepicker">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary calendar" (click)="de.toggle()" type="button">
                                                            <i class="fa" style="font-size:18px"> &#xf073; </i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-secondary" (click)="getDates()">
                                            Get Dates <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                        
                        <div class="products mt-3" *ngFor="let item of basketItems">
                            
                            <div class="row">
                                <div class="col-md-2">
                                    <img class="card-img-top p-3" src="../assets/images/steel.jpg" alt="Card image cap" >
                                </div>
                                <div class="col-md-4 mt-4">
                                    <div id="name">
                                        {{ item.product }}
                                    </div>
                                    <div id="amount">
                                        Qty: {{ item.amount }} kg
                                    </div>
                                    <div class="mt-2" id="price">
                                        Price: {{ item.price }} $
                                    </div>
                                </div>
                                <div class="col-md-3 mt-5">
                                    <div>
                                        <label for="orderDate" id="orderDate">Order Date</label>
                                    </div>
                                    <div>
                                        <label for="dateItem" id="dateItem">{{item.date}}</label>
                                    </div>
                                </div>
                                <div class="col-md-2 mt-5">
                                    <div>
                                        <label for="" id="orderStatus">Status: Arrived</label>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <!--add status date etc. think about it the right side box to put status etc. -->
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
    </div>
</div>
